<%- include('../../shared/includes/head', {pageTitle: 'All your orders'}) %>
<%- include('../../shared/includes/head-end') %>

<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>All Your Orders</h1>

  </main>

  <%- include('../../shared/includes/footer') %>
</body>
