<%- include('../../shared/includes/head', { pageTitle: 'Order Failed' }) %>
<%- include('../../shared/includes/head-end') %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order failed.</h1>
    <p>Please contact us for more details.</p>
  </main>
  <%- include('../../shared/includes/footer') %>