<%- include('../../shared/includes/head', { pageTitle: 'Order Successful' }) %>
<%- include('../../shared/includes/head-end') %>
</head>
<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <h1>Order was succesful</h1>
      <p>You can visit the <a href="/orders">orders page</a> for more details.</p>
  </main>
<%- include('../../shared/includes/footer') %>