<header>
  <div><a href="/">CAB Stores</a></div>
  <nav>
    <ul>
      <% if (locals.isAuth) { %>
      <form action="/logout" method="POST">
        <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
        <button class="btn">Log out</button>
      </form>
      <% } %>
    </ul>
  </nav>
</header>
