* {
  /* setting/getting width includes borders - non-inhertiable */
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  /* --colour-grey-50: rgb(243, 236, 230);
  --colour-grey-100: rgb(207, 201, 195);
  --colour-grey-300: rgb(99, 92, 86);
  --colour-grey-400: rgb(70, 65, 60);
  --colour-grey-500: rgb(37, 34, 31);
  --colour-grey-600: rgb(32, 29, 26);
  --colour-grey-700: rgb(31, 26, 22);

  --colour-primary-50: rgb(253, 224, 200);
  --colour-primary-100: rgb(253, 214, 183);
  --colour-primary-200: rgb(250, 191, 143);
  --colour-primary-400: rgb(223, 159, 41);
  --colour-primary-500: rgb(212, 136, 14);
  --colour-primary-700: rgb(212, 120, 14);
  --colour-primary-200-contrast: rgb(100, 46, 2);
  --colour-primary-500-contrast: white;

  --colour-error-100: rgb(255, 192, 180);
  --colour-error-500: rgb(199, 51, 15);

  --colour-primary-500-bg: rgb(63, 60, 58); */

  --colour-primary-500-bg: rgb(54, 56, 64);
  --colour-grey-50: rgb(243, 236, 230);
  --colour-grey-100: rgb(247, 247, 247);
  --colour-grey-300: rgb(147, 139, 131);
  --colour-grey-500: rgb(133, 138, 140);
  --colour-grey-600: rgb(61, 63, 64);
  --colour-grey-700: rgb(37, 39, 40);
  --colour-primary-50: rgb(237, 197, 255);
  --colour-primary-100: rgb(220, 203, 255);
  --colour-primary-200: rgb(255, 252, 200);
  --colour-primary-400: rgb(200, 221, 227);
  --colour-primary-500: rgb(163, 178, 183);
  --colour-primary-700: rgb(79, 97, 121);
  --colour-primary-900: rgb(57, 70, 86);
  --colour-primary-950: rgb(26, 32, 39);
  --colour-primary-200-contrast: rgb(234, 78, 209);
  --colour-primary-500-contrast: white;

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.65rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --width-full: 60rem;
  --width-half: 25rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;

  --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);

  --btn-transition: all 150ms;

  font-size: 120%;
  font-weight: 300;
}

body {
  background-color: var(--colour-grey-700);
  color: var(--colour-grey-100);
  margin: 0;
}

main {
  width: 90%;
  max-width: var(--width-full);
  margin: 0 auto;
}

h1,
h2 {
  font-family: 'Bevan';
  font-weight: 100;
}

h1 {
  text-align: center;
  color: var(--colour-primary-400);
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--colour-primary-400);
  font-weight: 100;
}

button,
.btn {
  cursor: pointer;
  font-family: inherit;
  padding: var(--space-2) var(--space-6);
  margin: 0;
  color: var(--colour-primary-200);
  background-color: transparent;
  border: 1px solid var(--colour-primary-200);
  transition: var(--btn-transition);
  border-radius: var(--border-radius-small);
  transition: var(--btn-transition);
  font-size: inherit;
  font-weight: 400;
  text-align: center;
}

.btn:hover,
.btn:active {
  background-color: var(--colour-primary-900);
  border: 1px solid var(--colour-primary-900);
}

.btn-alt {
  color: var(--colour-primary-50);
  background-color: transparent;
  border: 1px solid var(--colour-primary-50);
}

.btn-alt:hover,
.btn-alt:focus {
  background-color: var(--colour-primary-900);
  border: 1px solid var(--colour-primary-900);
  color: var(--colour-primary-50);
}

.delete-product-button[disabled='disabled'] {
  opacity: 0.3;
  text-decoration: line-through;
}

.alert {
  color: var(--colour-primary-700);
  background-color: var(--colour-primary-200);
  border-radius: var(--border-radius-small);
  padding: var(--space-4);
}

.alert h2 {
  font-size: 1rem;
  margin: var(--space-2) 0;
  text-transform: uppercase;
}

.alert p {
  margin: var(--space-2) 0;
}

.badge {
  margin-left: var(--space-2);
  padding: 0.15rem var(--space-4);
  border-radius: 10rem;
  background-color: var(--colour-primary-500);
  color: var(--colour-primary-500-contrast);
}
