.cart-item {
  display: flex;
  flex-direction: column;
  background-color: var(--colour-gray-700);
  padding: var(--space-4);
  border-radius: var(--border-radius-medium);
  margin: var(--space-4) 0;
}

.cart-item-info {
  display: flex;
  justify-content: flex-start;
}

.cart-item-info img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: var(--border-radius-small);
  margin-right: var(--space-4);
}

.cart-item h2 {
  font-size: 1.2rem;
  margin: 0;
}

.cart-item input {
  font: inherit;
  padding: var(--space-2);
  border-radius: var(--border-radius-small);
  border: 1px solid transparent;
  width: 5rem;
}

.cart-product-price {
  font-style: italic;
  color: var(--colour-gray-300);
}

.cart-item-management-form {
  text-align: right;
}

#cart-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cart-total p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--colour-primary-500);
}

#cart-total #cart-total-fallback {
  font-size: 1rem;
  font-weight: normal;
}

@media (min-width: 48rem) {
  .cart-item {
    flex-direction: row;
    justify-content: space-between;
  }

  #cart-total {
    flex-direction: row;
    justify-content: space-between;
  }
}
