/* mobile first styling */
main {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

#main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  max-width: var(--width-full);
  margin: 0 auto;
  padding: 0 var(--space-6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--colour-grey-300);
}

#logo a {
  font-size: 1.8rem;
  font-family: 'Bevan';
  color: var(--colour-primary-20);
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-header li {
  padding: 0 var(--space-2);
  font-family: 'Bevan';
}

#main-header li:last-child {
  padding-right: 0;
}

#main-header nav {
  display: none;
}

#mobile-menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  width: 2.25rem;
  height: 2.3rem;
  background-color: transparent;
  padding: 0;
}

#mobile-menu-button span {
  width: 2.25rem;
  height: 0.25rem;
  background-color: var(--colour-primary-20);
}

#mobile-menu {
  position: fixed;
  top: 5rem;
  left: 0;
  width: 100%;
  /* total height of screen - height of mobile menu bar */
  height: calc(100vh - 5rem);
  background-color: var(--colour-grey-700);
  flex-direction: column;
  align-items: center;
  display: none;
}

#mobile-menu.open {
  display: flex;
}

#mobile-menu nav {
  width: 90%;
  height: 20rem;
  margin: var(--space-4) auto;
  font-family: 'Bevan';
}

#mobile-menu .nav-items {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

#mobile-menu .nav-items a,
#mobile-menu button {
  font-size: 1.75rem;
  color: var(--colour-primary-20);
  border: 1px solid transparent;
}

#mobile-menu button {
  background-color: transparent;
  color: var(--colour-primary-100);
  border-color: var(--colour-primary-20);
  font-weight: 100;
}

/* between mobile and desktop */
@media (min-width: 768px) and (max-width: 1024px) {
  #main-header li {
    padding: 0;
    font-size: 0.9rem;
  }
}

/* desktop styling */
@media (min-width: 768px) {
  main {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }

  #main-header {
    position: static;
  }

  #mobile-menu {
    display: none;
  }

  #mobile-menu-button {
    display: none;
  }

  #main-header nav {
    display: block;
  }

  .nav-items a,
  .nav-items button {
    padding: var(--space-2) var(--space-4);
    border-radius: var(--border-radius-small);
    border: 1px solid transparent;
    transition: var(--btn-transition);
    color: var(--colour-primary-20);
  }

  .nav-items a:hover,
  .nav-items a:active {
    background-color: var(--colour-primary-500-bg);
    transition: var(--btn-transition);
  }

  .nav-items button {
    background-color: transparent;
    border: 1px solid var(--colour-primary-500-bg);
  }
  .nav-items button:hover {
    background-color: var(--colour-primary-500-bg);
    border: 1px solid var(--colour-primary-500-bg);
  }

  .badge {
    padding: 0.15rem var(--space-3);
  }
}

@media (max-width: 340px) {
  #logo a {
    font-size: 1.4rem;
  }
}
