#product-grid {
  margin: var(--space-8) auto;
  display: grid;
  /* auto-fill for best to fit to screen*/
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  /* col and row spacing */
  gap: var(--space-4);
}

.product-item-content {
  padding: var(--space-4);
}

.product-item-content h2 {
  font-size: 1.2rem;
  margin: var(--space-2);
}

.product-item-actions {
  display: inline-flex;
  gap: var(--space-2);
  margin-top: var(--space-2);
}

.product-item {
  text-align: center;
  background-color: var(--colour-grey-600);
  border-radius: var(--border-radius-medium);
  /* make sure rounded corners show when flush to containing box */
  overflow: hidden;
}

.product-item img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

#product-info {
  text-align: center;
}

#product-description {
  text-align: left;
  padding: 0 0 var(--space-8) 0;
  white-space: pre-wrap;
}

#product-details header {
  margin-top: var(--space-8);
  padding: var(--space-8);
  background-color: var(--colour-grey-600);
  gap: var(--space-8);
  border-radius: var(--border-radius-medium);
}

#product-details img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: var(--border-radius-medium);
  border: 1px solid var(--colour-grey-100);
}

.splash {
  position: static;
  top: 5rem;
  width: 100%;
  height: 100%;
  max-width: var(--width-full);
  padding: var(--space-8);
  background-color: var(--colour-grey-600);
  border-radius: var(--border-radius-medium);
  font-weight: 100;
  margin-bottom: var(--space-4);
}

.splash h1 {
  text-align: left;
}

.splash h1,
.splash h2 {
  color: var(--colour-primary-400);
}

.splash h3 span {
  font-weight: 100;
}

.splash ul {
  list-style-type: disc;
  margin-left: var(--space-6);
  margin-bottom: var(--space-8);
  font-weight: 100;
}

.splash li {
  margin-bottom: var(--space-2);
}

.splash #splash-footer {
  margin-top: var(--space-8);
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-top: var(--space-8);
}

@media (min-width: 48rem) {
  #product-details header {
    display: flex;
  }

  #product-details img {
    width: 20rem;
    height: 20rem;
    transform: rotateZ(-10deg);
    margin: var(--space-8);
    border-radius: var(--border-radius-medium);
    object-fit: cover;
  }

  #product-info {
    text-align: left;
  }
}
