<%- include('../../shared/includes/head', {pageTitle: 'All products'}) %> <%-
include('../../shared/includes/head-end') %>

<body>
  <%- include('../../shared/includes/header') %>
  <main>
    <p>Look at all our lovely stuff!</p>
  </main>

  <%- include('../../shared/includes/footer') %>
</body>
