<%- include('../../shared/includes/head', {pageTitle: 'Log in'}) %>

</head>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
    <p>Look at all our lovely stuff!</p>
  </main>

  <%- include('../../shared/includes/footer') %>
</body>
