<%- include('../../shared/includes/head', {pageTitle: 'Orders'}) %>

<%- include('../../shared/includes/head-end') %>
<body>
    <%- include('../../shared/includes/header') %>
    <main>
      <h1>Orders (Admin)</h1>
      <p>A list of orders</p>
  </main>

  <%- include('../../shared/includes/footer') %>
</body>
