<%- include('../includes/head', {pageTitle: 'signUp'}) %>
</head>
<%- include('../includes/header') %>

<body>
    <main>
        <h1>Create new account</h1>
        <form action="" method="">
            <label for="customer-name" id="customer-name">Name:</label>
            <input type="text" name="customer-name" value="" required minlength="10">
        </form>
    </main>

<%- include('../includes/footer') %>
    
